@import '~@fluentui/react/dist/sass/References.scss';

.colorValue {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.colorSwatch {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  border: 1px solid "[theme:neutralLight, default: #eaeaea]";
  flex-shrink: 0;
}

.iconValue {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.iconDisplay {
  font-size: 16px;
  flex-shrink: 0;
}
