.themeSwatch {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background-color: var(--theme-primary);
    border: 1px solid #e1e1e1;
}

.themeLabel {
    margin-left: 4px;
    font-size: 12px;
}
